html{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

form{
    width: 35rem;
    background-color: rgba(248, 248, 248, 0.229);
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgb(38, 38, 38);
}


fieldset{
    border: none;
}

input,label{
    display: block;
    width: 100%;
    box-sizing: border-box;
}

label{
    margin-bottom: .25em;
}



input{
    padding: .75em;
    border: 5px;
    margin-bottom: 1.5em;
    border-radius: 5px;
    border: 1px solid #bbb;
    font-size: 1em;
}

legend{
    padding: 1em;
    text-align: center;
    font-weight: bold;
    color: rgb(50, 50, 50);
    font-size: 1.2em;
    margin-bottom: .5em;
}

.actions{
    display: flex;
    gap: 1;

}

.btn{
    width: fit-content;
    margin-left: auto;
    background-color: aqua;
    color: white;
    cursor: pointer;
}
